body {
    background-color: black;
}
#demo {
    width: 692px;
    height: 70px;
    background-color: #333;
    padding: 8px;
}
.logo {
    position: absolute;
    background-position: 0 4px;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;

}
